html {

	font-size: 18px;
	font-family:"Open Sans";

}

body {
  background-color: #ffdd90;
  background-image: url("/home/gera/Escritorio/Escritorio/Fondos/calavera.jpg");
}

h1 {

	font-size:42px; /* tamanio */
    font-family: 'Hanalei Fill';/* fuente */
	color:white; /* color  -*/
	text-align:center;
	padding: 50px;
	text-shadow: 3px 3px 1px black;
	margin: 0;

}

p {

  color: white;
  width:70px;
  height:80px solid blue;
  border:2px;
}

button {

	margin-top: 100px;
	padding: -60px;

}

table.main_menu {

	margin-top: 200px;
	padding-right: 60px;
	color: white;

}

p.box1 {

	width:550px;
	height:5px;
	margin:-140px 340px;
	padding:60px;
	font-size:italic;
	background-color:#6C3483;
	color:#000;

}